<footer class="footer">
  <div class="center hero-unit">
  <small>
    © Nathan Martin
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
    <br>
      </div>
</footer>