<!DOCTYPE html>
<html>
<head>
  <title>My FirstApp, Duh!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="http://google.com">Google</a>
</><%= yield %>

</body>
</html>
